<p-dialog
[header]="
StringUtils.capitalizeFirstLetter(dialogActionMode.toLocaleLowerCase()) +
' Action ' + StringUtils.capitalizeFirstLetter(componentMode.toLocaleLowerCase())
"
  [(visible)]="isOpen"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  class="action-dialog"
  (onShow)="onDialogVisible()"
  (onHide)="onClose()"
>
  <div class="json-dialog-container" [formGroup]="form">
    <div class="json-form-container">
      <div class="json-first-form">
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Args</span>
          <input class="input" pInputText formControlName="args" />
        </div>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Action Type</span>
          <p-dropdown
            class="field-dropdown"
            formControlName="type"
            [options]="actionTypes"
            optionLabel="expression"
            [placeholder]="'Select Action Type'"
            [filter]="true"
            filterBy="expression"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="dialog-button-container">
      <button
        mat-stroked-button
        color="warn"
        class="dialog-button"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        class="dialog-button"
        [disabled]="isValueNotValid()"
        (click)="onSave(form.getRawValue())"
      >
        Save
      </button>
    </div>
  </div>
</p-dialog>
