<div class="reset-pass-container">
  <form class="reset-form-container mat-elevation-z8" autocomplete="uy">
    <div class="reset-form-title-container">
      <span class="reset-pass-form-title">Reset Password</span>
      <span class="reset-pass-form-caption">Please enter your current and new password.</span>
    </div>

    <div class="reset-pass-field-container" [formGroup]="form">
      <div class="common-text-field-container">
        <span class="text-field-label">Current Password</span>
        <p-password formControlName="currentPass" [feedback]="false" [toggleMask]="true"></p-password>
      </div>

      <div class="common-text-field-container">
        <span class="text-field-label">New Password</span>
        <p-password formControlName="newPass" [toggleMask]="true">
          <ng-template pTemplate="header">
            <span class="se-text-[.8rem]">Pick a password</span>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <span>Suggestions</span>
            <ul class="se-list-disc se-ml-5">
              <li class="se-text-sm">At least one lowercase</li>
              <li class="se-text-sm">At least one uppercase</li>
              <li class="se-text-sm">At least one numeric</li>
              <li class="se-text-sm">Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
      </div>

      <div class="common-text-field-container">
        <span class="text-field-label">Confirm Password</span>
        <p-password formControlName="confirmPass" [feedback]="false" [toggleMask]="true"></p-password>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" mat-raised-button color="primary" (click)="onResetPass(form.value)" [disabled]="isValueNotValid() || isLoading" class="reset-pass-button">
        <span>Reset Password</span>
      </button>
    </div>
  </form>
</div>

<app-overlay-loading [isLoading]="isLoading"></app-overlay-loading>
