<div class="user-role-main-container">
  <div class="first-container">
    <p-card class="search-card">
      <div class="search-container" [formGroup]="formGroup">
        <div class="sc-first-row">
          <div class="field">
            <div class="sc-field-container">
              <div class="sc-first-text-field-1">
                <span class="label-txt-field">Role Name</span>
                <input
                class="input-sm"
                pInputText
                aria-describedby="username-help"
                formControlName="roleName"
              />
              </div>
            </div>

            <div class="search-button-container">
              <button
              mat-stroked-button
              color="warn"
              class="dialog-button"
              (click)="onReset()"
            >
              Reset
            </button>
              <button
                mat-raised-button
                color="primary"
                class="sc-search-button"
                (click)="onSearchClicked(formGroup.getRawValue())"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>

  <div class="second-container">
    <p-card class="table-card">
      <p-table
        #dt
        [tableStyle]="{ 'min-width': '50rem' }"
        [resizableColumns]="true"
        [value]="items"
        selectionMode="single"
        [paginator]="true"
        [exportHeader]="'customExportHeader'"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[15, 25, 50, 100, 250, 500]"
        [scrollable]="true"
        [rows]="15"
        [(selection)]="selectedItem"
        (onRowSelect)="onListClicked()"
        (onRowUnselect)="onListUnClicked()"
        dataKey="roleId"
        class="user-role-table"
        styleClass="p-datatable-sm p-datatable-gridlines"
      >
        <ng-template pTemplate="caption">
          <div class="header-table">
            <span style="font-size: 0.8rem; padding-left: 1rem">
              Role Data</span>

            <div class="table-func-container-2">
              <ng-template [ngIf]="StringUtils.findOperations(authorities, 'ADD_ROLE')">
                <button
                  type="button"
                  pButton
                  pRipple
                  icon="bx bx-layer-plus"
                  (click)="onClickedAddListDialog()"
                  matTooltip="Add Role"
                  [matTooltipPosition]="'below'"
                ></button>
                <button
                  type="button"
                  pButton
                  pRipple
                  [disabled]="selectedItem == undefined"
                  icon="bx bx-edit"
                  (click)="onClickedEditListDialog()"
                  matTooltip="Edit Role"
                  [matTooltipPosition]="'below'"
                ></button>
              </ng-template>
              <ng-template [ngIf]="StringUtils.findOperations(authorities, 'DELETE_ROLE')">
                <button
                  type="button"
                  pButton
                  pRipple
                  [disabled]="selectedItem == undefined"
                  icon="bx bx-trash-alt"
                  (click)="onClickedDeleteList()"
                  matTooltip="Delete Role"
                  [matTooltipPosition]="'below'"
                  class="p-button-danger"
                ></button>
              </ng-template>

            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn>Id</th>
            <th pResizableColumn>Name</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
          <tr [pSelectableRow]="product">
            <td class="row-width">{{ product.roleId }}</td>
            <td class="row-width">{{ product.roleName }}</td>
            <td class="row-width-xs-btn">
              <button
                mat-raised-button
                class="detail-btn"
                (click)="onDetailClicked(product)"
                matTooltip="View Details Data"
                [matTooltipPosition]="'below'"
                [disabled]="selectedItem == undefined"
              >
                <div class="detail-container">
                  <span class="detail-text">Details</span>
                </div>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr style="">
            <td colspan="6">There is no setup.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<ng-template [ngIf]="isLoading">
  <app-overlay-loading [isLoading]="isLoading"></app-overlay-loading>
</ng-template>

<ng-template [ngIf]="visibleUserRoleDialog">
  <app-user-role-dialog
    [isOpen]="visibleUserRoleDialog"
    [itemSelected]="selectedItem"
    (closeSelf)="onCloseListDialog($event)"
    (isLoading)="onLoading($event)"
    [dialogMode]="dialogMode"
  ></app-user-role-dialog>
</ng-template>

<ng-template [ngIf]="visibleUserRoleDetailDialog">
  <app-user-role-detail
    [isOpen]="visibleUserRoleDetailDialog"
    [selectedItem]="selectedItem"
    (closeSelf)="onCloseDetail($event)"
    [ruleInfo]="operations"
  ></app-user-role-detail>
</ng-template>
