.header-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.table-func-container-2 {
  display: flex;
  gap: 10px
}

.detail-btn {
  height: fit-content;
  padding: .4rem
}

.detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .6rem;
}

.detail-text {
  font-weight: 800;
}
