<p-dialog [header]="StringUtils.capitalizeFirstLetter(dialogMode.toLocaleLowerCase()) + ' Reaction'"
          [(visible)]="isOpen" [modal]="true"
          [style]="{ width: '50vw'}" [draggable]="false"
          [resizable]="false" class="rule-reactions-dialog" (onShow)="onDialogVisible()" (onHide)="onClose()">
  <div class="rule-reactions-dialog-container" [formGroup]="form">
    <div class="rule-reactions-form-container">
      <div class="rule-reactions-first-form">
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Binding Type</span>
          <input class="input" pInputText formControlName="bindingType"/>
        </div>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Binding Id</span>
          <p-dropdown formControlName="bindingId" class="field-dropdown" [options]="blackLists" optionLabel="id"
                      [placeholder]="'Select Binding Id'" [filter]="true" filterBy="id">
            <ng-template let-data pTemplate="rules">
              <div class="item">
                <span>{{data.id}} - {{data.value}}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="rule-reactions-second-form">
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Priority</span>
          <p-dropdown class="field-dropdown" formControlName="priority" [options]="StringUtils.dummyPriority" appendTo="body"
                      optionLabel="code"
                      [placeholder]="'Select Priority'" [filter]="true" filterBy="code"
          ></p-dropdown>
        </div>

        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Action</span>
          <p-dropdown class="field-dropdown" formControlName="action" [options]="StringUtils.dummyAction"
                      optionLabel="code" (onChange)="onChangeAction($event)" appendTo="body"
                      [placeholder]="'Select Action'" [filter]="true" filterBy="name"
          ></p-dropdown>
        </div>
      </div>

      <div class="rule-reactions-second-form" *ngIf="isActionField('ATTR_BLACK_LIST') || isActionField('ATTR_WHITE_LIST')">
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Date In</span>
          <p-calendar
            formControlName="dateIn"
            appendTo="body"
            class="calender-field-pick"
            [showIcon]="true"
            [showTime]="true"
            [showSeconds]="true"
          ></p-calendar>
        </div>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Date To</span>
          <p-calendar
            formControlName="dateOut"
            appendTo="body"
            class="calender-field-pick"
            [showIcon]="true"
            [showTime]="true"
            [showSeconds]="true"
          ></p-calendar>
        </div>
      </div>
      <div class="common-text-field-dialog-container" *ngIf="isActionField('SET_RESPCODE')">
        <span class="label-txt-field-sm">Action Value</span>
        <p-dropdown class="field-dropdown" formControlName="actionValue" [options]="intRespCodes" optionLabel="code"
                    [placeholder]="'Select Action Value'" [filter]="true" filterBy="code">
          <ng-template let-data pTemplate="respCodes">
            <div class="item">
              <span>{{data.code}} - {{data.description}}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="common-text-field-dialog-container" *ngIf="isActionField('ATTR_BLACK_LIST') || isActionField('ATTR_WHITE_LIST')">
        <span class="label-txt-field-sm">Action Value</span>
        <p-dropdown class="field-dropdown" formControlName="actionValue" [options]="transParams" optionLabel="description"
                    appendTo="body"
                    [placeholder]="'Select Action Value'" [filter]="true" filterBy="description">
        </p-dropdown>
      </div>

      <div class="common-text-field-dialog-container" *ngIf="isActionField('ATTR_FRAUD_LIST')">
        <span class="label-txt-field-sm">Value</span>
        <p-dropdown class="field-dropdown" formControlName="value" [options]="transParams" optionLabel="description"
                    appendTo="body"
                    [placeholder]="'Select Value'" [filter]="true" filterBy="description">
        </p-dropdown>
      </div>

      <div class="common-text-field-dialog-container" *ngIf="isActionField('ATTR_FRAUD_LIST')">
        <span class="label-txt-field-sm">Fraud List</span>
        <p-dropdown class="field-dropdown" formControlName="listId" [options]="fraudList" optionLabel="listName"
                    appendTo="body"
                    [placeholder]="'Select Action Value'" [filter]="true" filterBy="listName">
        </p-dropdown>
      </div>

      <ng-container *ngIf="isActionField('EMAIL_NOTIFICATION')">
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Template Id</span>
          <p-dropdown class="field-dropdown" formControlName="templateId" [options]="notifTemplate" appendTo="body"
                      optionLabel="templateId"
                      [placeholder]="'Select template'" [filter]="true" filterBy="subjectText">
            <ng-template let-data pTemplate="rules">
              <div class="item">
                <span>{{data.templateId}} - {{data.subjectText}}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Recipient Type</span>
          <p-dropdown class="field-dropdown" formControlName="recipientType" [options]="StringUtils.dummyRecipientType" appendTo="body"
                      optionLabel="name"
                      [placeholder]="'Select type'" [filter]="true" filterBy="name">
          </p-dropdown>
        </div>

        <div class="common-text-field-dialog-container" *ngIf="isRecipientType('RECIPIENT')">
          <span class="label-txt-field-sm">Recipient</span>
          <p-dropdown class="field-dropdown" formControlName="listRecipient" [options]="recipients" appendTo="body"
                      optionLabel="recipientId"
                      [placeholder]="'Select recipient'" [filter]="true" filterBy="contactValue">
            <ng-template let-data pTemplate="rules">
              <div class="item">
                <span>{{data.recipientId}} - {{data.contactValue}}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="common-text-field-dialog-container" *ngIf="isRecipientType('RECIPIENT_GROUP')">
          <span class="label-txt-field-sm">Recipient Group</span>
          <p-dropdown class="field-dropdown" formControlName="listRecipientGroup" [options]="recipientGroups" appendTo="body"
                      optionLabel="groupName"
                      [placeholder]="'Select group'" [filter]="true" filterBy="groupName">
            <ng-template let-data pTemplate="rules">
              <div class="item">
                <span>{{data.groupId}} - {{data.groupName}}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </ng-container>

      <div class="common-text-field-dialog-container">
        <span class="label-txt-field-sm">Description</span>
        <textarea formControlName="description" rows="1" cols="20" class="input-sm input-area-nm" style="resize: none"
                  pInputTextarea></textarea>
      </div>
    </div>

    <div class="dialog-button-container">
      <button mat-stroked-button color="warn" class="dialog-button" (click)="onClose()">Cancel</button>
      <button mat-raised-button color="primary" class="dialog-button" [disabled]="isValueNotValid()"
              (click)="onSave(form.getRawValue())">Save
      </button>
    </div>
  </div>
</p-dialog>
