.user-dialog-container {
  @apply
  se-w-full
  se-flex se-flex-col se-gap-[30px]
}

.black-form-container {
  @apply
  se-w-full
  se-flex se-flex-col se-justify-center se-gap-[10px]
}

.black-first-form {
  @apply
  se-grid se-grid-cols-2 se-auto-cols-auto se-gap-[20px] se-items-center
}

.first-row-container {
  display: flex;
  width: 100%;
  gap: 2rem;
  align-items: center;
}

.image-container {
  height: 7rem;
  width: 8rem;
  /*padding: 1rem;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3B82F6
}

.common-text-field-dialog-container {
  @apply
  se-w-full
}

.label-txt-field-sm {
  @apply
  se-text-[.8rem]
  se-font-semibold
}

.placeholder-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .2rem
}

/*.placeholder-btn-container {*/
/*  display: grid;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));*/
/*  gap: 1rem;*/
/*}*/

.add-btn-placeholder-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.ph-dialog-button {
  @apply
  se-text-[.7rem] se-w-full
}

.dialog-button-container {
  @apply
  se-flex se-justify-end se-gap-[15px]
}

.dialog-button {
  @apply
  se-w-[100px] se-text-[.8rem]
}

/*NG DEEP*/
::ng-deep .user-dialog .p-dialog-content {
  /*overflow-y: unset !important;*/
}
