<div class="unauthorized-main-container">
  <div class="content-container mat-elevation-z2">
    <div class="icon-container">
      <img class="icon" src="assets/unauthorized-icon.svg" alt="">
    </div>

    <div class="message-container">

      <div class="txt-container">
        <div class="title-container">
          <span>We are sorry...</span>
        </div>

        <div class="sub-title-container">
          <span>The page you're trying to access has restricted access</span>
          <span>Please refer to your system administrator and re-login your access</span>
        </div>
      </div>

      <div class="btn-container">
        <button mat-raised-button color="primary" class="btn" (click)="onClickGoBack()">Go back</button>
      </div>
    </div>
  </div>
</div>
