.alert-detail-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding-bottom: 1rem;
}

.case-management-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}

.case-management-btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: .8vw;
  font-weight: 600;
  gap: 10px;
  height: 10vh;
  width: 100%;
}

.case-management-btn-icon{
  font-size: 2.5vw;
}
