<p-dialog [header]="StringUtils.capitalizeFirstLetter(dialogMode.toLocaleLowerCase()) + ' Fraud List'" [(visible)]="isOpen" [modal]="true"
          [style]="{ width: '40vw'}" [draggable]="false" (onShow)="onDialogVisible()" (onHide)="onClose()"
          [resizable]="false" class="crud-dialog">
  <div class="crud-container" [formGroup]="form">
    <div class="crud-field-container">
      <div class="common-text-field-dialog-container">
        <span class="label-txt-field-normal">List Name</span>
        <input formControlName="listName" pInputText/>
      </div>

      <div class="common-text-field-dialog-container">
        <span class="label-txt-field-normal">Entity Type</span>
        <p-dropdown class="field-dropdown" [options]="entityTypes" optionLabel="entityType"
                    [placeholder]="'Select Field'" [filter]="true" filterBy="entityType" formControlName="entityType"
        ></p-dropdown>
      </div>

      <div class="common-text-field-dialog-container">
        <span class="label-txt-field-normal">Group</span>
        <p-dropdown class="field-dropdown" [options]="userGroups" optionLabel="groupName"
                    formControlName="userGroup"
        ></p-dropdown>
      </div>
    </div>

    <div class="dialog-button-container">
      <button mat-stroked-button color="warn" class="dialog-button" (click)="onClose()">Cancel</button>
      <button mat-raised-button color="primary" class="dialog-button" [disabled]="isValueNotValid()" (click)="onSave(form.getRawValue())">Save</button>
    </div>
  </div>
</p-dialog>
