<!--<p-card class="search-card">-->
<!--  <div class="search-container">-->
<!--    <div class="sc-first-row">-->
<!--      <div class="field">-->
<!--        <div class="sc-field-container">-->
<!--          <div class="sc-first-text-field-1">-->
<!--            <span class="label-txt-field">List Id</span>-->
<!--            <input class="input-sm" pInputText aria-describedby="username-help"/>-->
<!--          </div>-->

<!--          <div class="sc-first-text-field-1">-->
<!--            <span class="label-txt-field">List Name</span>-->
<!--            <input class="input-sm" pInputText aria-describedby="username-help"/>-->
<!--          </div>-->

<!--          <div class="sc-first-text-field-1">-->
<!--            <span class="label-txt-field">Group</span>-->
<!--            <p-dropdown class="field-dropdown-sm" [options]="[]" [filter]="true" optionLabel="stat"></p-dropdown>-->
<!--          </div>-->

<!--          <div class="sc-first-text-field-1">-->
<!--            <span class="label-txt-field">Entity Type</span>-->
<!--            <p-dropdown class="field-dropdown-sm" [options]="[]" [filter]="true" optionLabel="stat"></p-dropdown>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="search-button-container">-->
<!--          <button mat-raised-button color="primary" class="sc-search-button" (click)="onSearchClicked()">Search</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</p-card>-->
