.action-container {
  margin: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.action-main-container {
  width: calc(100% / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: .8vw;
  font-weight: 600;
  gap: 10px;
  height: 10vh;
  width: 100%;
}

.action-button,
.action-icon{
  font-size: 2vw;
}
