.transaksi-main-container {
    background: var(--main-bg-color);
    padding: 15px 20px 15px 20px;
  
    @apply se-flex se-flex-col se-gap-[15px]
    se-w-full se-h-full
    se-overflow-auto;
  }
  
  .first-container {
    @apply se-w-full;
  }
  
  .search-container {
    @apply se-flex se-flex-auto se-gap-[20px] se-w-full;
  }
  
  .sc-first-row {
    /*padding: 10px 30px 0;*/
  
    @apply se-flex se-justify-between
    se-w-full;
  }
  
  .field {
    /*grid-template-columns: 1fr .1fr;*/
  
    @apply se-flex se-justify-between se-gap-[15rem]
    se-w-full;
  }
  
  .sc-field-container {
    @apply se-flex se-gap-[1rem] se-w-full;
  }
  
  .sc-first-text-field-1 {
    @apply se-w-full;
  }
  
  .sc-first-text-field-2 {
    @apply se-w-[50%]
    se-flex se-flex-col se-gap-[5px];
  }
  
  .label-txt-field,
  .value-txt {
    @apply se-text-[.8rem]
    se-font-semibold;
  }
  
  .date-range-container {
    @apply se-flex se-gap-[20px]
    se-w-full;
  }
  
  .calender-field-pick {
    width: 100%;
  }
  
  .search-button-container {
    @apply se-flex se-h-full se-items-end se-gap-[10px];
  }
  
  .sc-addt-button-container {
    @apply se-flex se-w-full se-h-full;
  }
  
  .sc-search-button {
    @apply se-w-full se-text-[.8rem];
  }
  
  .sc-mini-search-button {
    @apply se-w-[36px] se-h-[36px];
  }
  
  .second-container,
  .third-container {
    @apply se-h-full;
  }
  
  .header-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
  
  .table-func-container-2 {
    display: flex;
    gap: 10px;
  }
  
  .detail-btn {
    height: fit-content;
    padding: 0.4rem;
  }
  
  .detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
  }
  
  .detail-text {
    font-weight: 800;
  }
  
  @media print {
    .transaksi-main-container {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }
  }
  
  .group-transaksi {
    text-align: left !important;
  }
  
  .group-transaksi button {
    height: auto;
  }
  
  .group-title {
    padding-bottom: .2rem;
    @apply se-font-bold se-ml-2;
  }
  
  .table-func-container-2 {
    display: flex;
    gap: 10px
  }
  
  
  ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    border-radius: 40% !important;
  }
  
  /*Expanded table*/
  .toggle-btn-json {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ::ng-deep .toggle-btn-json.mat-mdc-icon-button .mat-mdc-button-touch-target {
    height: auto;
    width: auto;
  }
  
  .row-expand {
    border-left: unset !important;
    border-right: unset !important;
  }
  
  .row-state td:last-child,
  .row-ex td:last-child {
    border-right: unset !important;
  }
  
  ::ng-deep .state-table .p-datatable-tbody .row-state:last-child td {
    border-bottom: unset !important;
  }
  