<p-dialog header="Logical" [(visible)]="isOpen" [modal]="true"
          [style]="{ width: '70vw'}" [draggable]="false" (onShow)="onDialogVisible()" (onHide)="onClose()"
          [resizable]="false" class="condition-type-dialog">
  <div class="condition-type-container">
    <span class="condition-caption">'Logical condition' allows you to compare the value of the fields of two transaction with each other</span>

    <div class="constant-form-container" [formGroup]="form">
      <div class="operand-a">
        <span class="operand-caption">Operand A</span>
        <span class="operand-title">Transaction Field</span>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Transaction Field</span>
          <p-dropdown class="field-dropdown-sm" [options]="transParams" optionLabel="description"
                      [placeholder]="'Select Field'" [filter]="true" filterBy="description" formControlName="transField_A"
          ></p-dropdown>
        </div>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">History by</span>
          <p-dropdown class="field-dropdown-sm" [options]="dummyHistory" optionLabel="code"
                      [placeholder]="'Select Field'" [filter]="true" filterBy="code" formControlName="history_A"
          ></p-dropdown>
        </div>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Depth</span>
          <p-dropdown class="field-dropdown-sm" [options]="dummyDepth" optionLabel="code"
                      [placeholder]="'Select Depth'" formControlName="depth_A"
          ></p-dropdown>
        </div>
      </div>
      <div class="relation">
        <p-divider align="center" class="search-divider">
          <div class="common-text-field-relation-container">
            <span class="label-txt-field">Relation</span>
            <p-dropdown class="field-dropdown-sm" [options]="dummyOperator" optionLabel="code"
                        [placeholder]="'Select Relation'" formControlName="relation"
            ></p-dropdown>
          </div>
        </p-divider>
      </div>
      <div class="operand-b">
        <span class="operand-caption">Operand B</span>
        <span class="operand-title">Transaction Field</span>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Transaction Field</span>
          <p-dropdown class="field-dropdown-sm" [options]="transParams" optionLabel="description"
                      [placeholder]="'Select Field'" [filter]="true" filterBy="description" formControlName="transField_B"
          ></p-dropdown>
        </div>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">History by</span>
          <p-dropdown class="field-dropdown-sm" [options]="dummyHistory" optionLabel="code"
                      [placeholder]="'Select Field'" [filter]="true" filterBy="code" formControlName="history_B"
          ></p-dropdown>
        </div>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Depth</span>
          <p-dropdown class="field-dropdown-sm" [options]="dummyDepth" optionLabel="code"
                      [placeholder]="'Select Depth'" formControlName="depth_B"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="dialog-button-container">
      <button mat-stroked-button color="warn" class="dialog-button" (click)="onClose()">Cancel</button>
      <button mat-raised-button color="primary" class="dialog-button" [disabled]="isValueNotValid()" (click)="onSave(form.getRawValue())">Save</button>
    </div>
  </div>
</p-dialog>
